.dataTables_length > label {
  display:flex;
  align-items: center;
}
.dataTables_filter {
  float:right;
}
.dataTables_length > label > select {
  margin-left: 10px;
  margin-right: 10px;
}
.dataTables_info {
  display:none;
}
